@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0 15%;
  padding-top: 10px;
  display: flex !important;
  justify-content: space-between;

  div {
    margin-top: 17px;
    font-size: 13px;

    a {
      color: black;
      text-decoration: underline;
      font-size: 15px;

      &:hover {
        color: black;
      }
    }
  }
}

footer {
  text-align: center;
  background-color: #ddd7dd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  span {
    display: block;
    padding: 15px 0;
    font-size: 13px;
  }
}

.btn-reset {
  border: none;
  display: block;
  color: white;
  padding: 10px 15px;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: white;
  }
}
